# Test Results

```sh
Enter vehicle info, or type 'exit' to quit.
type: SUV
year (YYYY): 2010
make: Ford
model: Escape
doors (2 or 4): 2
roof (solid or sunroof): sunroof

Vehicle Information:
{   'doors': 2,
    'make': 'Ford',
    'model': 'Escape',
    'roof': 'sunroof',
    'type': 'SUV',
    'year': 2010}

Enter vehicle info, or type 'exit' to quit.
type: SUV
year (YYYY): 2018
make: Ford
model: Flex
doors (2 or 4): 4
roof (solid or sunroof): solid

Vehicle Information:
{   'doors': 4,
    'make': 'Ford',
    'model': 'Flex',
    'roof': 'solid',
    'type': 'SUV',
    'year': 2018}

Enter vehicle info, or type 'exit' to quit.
type: Car
year (YYYY): 2026
Invalid input: 2026. Try again.
year (YYYY): 2025
make: Ford
model: Mustang
doors (2 or 4): 3
Invalid input. Choose from [2, 4]. Try again.
doors (2 or 4): 2
roof (solid or sunroof): solid

Vehicle Information:
{   'doors': 2,
    'make': 'Ford',
    'model': 'Mustang',
    'roof': 'solid',
    'type': 'Car',
    'year': 2025}

Enter vehicle info, or type 'exit' to quit.
type: exit
Exiting program.
(base) PS C:\School\sdev220\Assignments\M03>
```
